.top-nav {
    z-index: 100;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 99%;
    height: 70px;
    background-color: black;
}

.nav-element {
    float: right;
    color: white;
    padding: 25px;
    text-decoration: solid;
    font-size: larger;
    font-family: "Gill Sans", sans-serif;
}

.nav-element:hover {
    color: black;
    background-color: white;   
}

.site-head {
    float: left;
    color: white;
    padding: 17px;
    text-decoration: solid;
    font-size: xx-large;
    text-align: center;
    padding-left: 100px;
    font-family: 'big caslon';
}
